

nav {
  height: 40px;
  background-color: grey;
  position: fixed;
  top:0;
  width: 100%;
  margin-left: -10px;
}

nav ul {
  display: inline;
  /*height: auto;*/
  margin: 0;
  text-align: center;
  vertical-align: middle;
  /*removes the bullet points*/
  list-style: none;
}

/*this made the links horizontal - why?*/
nav li {
  display: inline-block;
  border: none;
  text-align: center;
  vertical-align: middle;
  /*float: left;*/
}

nav li a {
  /*text-align: center;*/
  display: inline-block;
  padding: 10px 10px 10px;
  /*vertical-align:middle;*/
}

.about {
  float: right;
}

.content {
  margin: 80px 50px 50px 50px;
}

.date {
  float: right;
}

ol {
  display: inline-block;
  /* vertical-align: top; */
  margin: 0;
  padding: 0;
  float: left;
  width: 50%;
}



h3 {
  /* display: inline-block; */
  /* vertical-align: top; */
}
